./RelayServer/build/
./RelayServer/.vscode/
./RelayServer/.clang-format
./RelayServer/.VSCodeCounter/
./PressureGenerator/build/
./PressureGenerator/.vscode/
./PressureGenerator/.clang-format
./PressureGenerator/.VSCodeCounter/
!.gitignore